In [1]:
import pandas as pd

In [2]:
# we are specifying the response ID as the index while loading the data itself. We can use the set_index method later on as well as shown below
df = pd.read_csv('Data/survey_results_public.csv', index_col = "ResponseId")
schema_df = pd.read_csv('Data/survey_results_schema.csv')

In [3]:
pd.set_option('display.max_columns', 79)
pd.set_option('display.max_rows', 79)

In [4]:
people = {
    "fname" : ["Anubhav", "Saksham", "Suman"],
    "lname" : ["Sharma", "Sharma", "Kumar"],
    "email" : ["anubhav@gmail.com", "saksham@gmail.com", "drsuman@gmail.com"],
    "age" : [1,2,3]
}
people_df = pd.DataFrame(people)
people_df

     fname   lname              email  age
0  Anubhav  Sharma  anubhav@gmail.com    1
1  Saksham  Sharma  saksham@gmail.com    2
2    Suman   Kumar  drsuman@gmail.com    3

In [6]:
# single col sorting
people_df.sort_values(by = "lname", ascending = True)

     fname   lname              email  age
2    Suman   Kumar  drsuman@gmail.com    3
0  Anubhav  Sharma  anubhav@gmail.com    1
1  Saksham  Sharma  saksham@gmail.com    2

In [10]:
#Multiple col sorting
people_df.sort_values(by = ["lname", "fname"], ascending = [True, False], inplace = True)

In [11]:
# you can also see col sorted by
people_df["fname"].sort_values()

0    Anubhav
1    Saksham
2      Suman
Name: fname, dtype: object

In [14]:
#little analysis for n largest items and data
#gives a series of nlargest col entries
people_df["age"].nlargest(2)
people_df["age"].nsmallest(2)

0    1
1    2
Name: age, dtype: int64

In [15]:
# we might want the entire data. so we use the nlargest method on the entire df
people_df.nsmallest(2, "age")

     fname   lname              email  age
0  Anubhav  Sharma  anubhav@gmail.com    1
1  Saksham  Sharma  saksham@gmail.com    2